.ts_typeshow, .ts_typeshow * {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.ts_typeshow {
	font: 13px Verdana, sans-serif;
	width: 100%;
}

.ts_typeshow img {
	max-width: 100%;
	height: auto;
}

.ts_typeshow .ts_controls {
	padding: 12px 0 0 0;
	float: left;
	clear: both;
	width: 100%; /* required for IE6 + IE7 */
}

.ts_typeshow input, .ts_typeshow select {
	float: left;
	width: auto;
	height: auto;
	font: inherit;
	border: 1px solid #bbb;
}

.ts_typeshow input[type=text] {
	display: inline;
	font-size: 14px;
	width: 100%;
	padding: 3px;
	margin-bottom: 8px;
	background-repeat: no-repeat;
}

.ts_typeshow input[type=text]:hover {
	border: 1px solid #bbb;
}

.ts_typeshow input[type=text]:focus {
	border: 1px solid #aaa;
}

.ts_text.loading {
	background: #eee url(../img/frontend-loading.gif) 99% center;
}

.ts_typeshow .ts_fonts {
	clear: left;
	float: left;
}

.ts_typeshow .ts_themes {
	clear: right;
	float: right;
	padding: 0;
}

.ts_typeshow label {
	float: left;
	display: none;
}

.ts_typeshow .ts_themes label{
	width: 20px;
	height: 20px;
	display: block !important;

	background: url(../img/frontend-themes.gif) no-repeat 0 2px;

	/*hide text: */
	text-align: left;
	text-indent: 100%;
	overflow: hidden;
}

.ts_typeshow #ts_dropdown_fonts {
	margin-right: 10px;
}

.ts_typeshow .ts_font_info {
	clear: both;
	float: left;
	margin-top: 8px;
	width: 95%; /* for IE6 + 7 */
}