/* @override 
	http://www.ts.dev/ts/admin/css/iframe.css
*/

/* @group reset */

/* http://meyerweb.com/eric/tools/css/reset/
   v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */

:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */

ins {
	text-decoration: none;
}

del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* @end */

body {
	font-size: 15px;
	overflow: hidden;
	padding: 10px;
	color: white;
}

input[type=submit] {
	float: right;
	cursor: pointer;
	clear: both;
	font-size: 20px;
	height: 40px;
	padding: 0 30px;
	margin-top: 20px;
	
	color: white;
	
	background-color: #8FB626;
	border: 1px solid #72921E;
		
	background-image: -moz-linear-gradient(100% 100% 90deg, #72921E, #8FB626);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#8FB626), to(#72921E));
	
	-moz-border-radius: 10px;	
	-webkit-border-radius: 10px;
}

input[type=submit]:hover {
	background-image: -moz-linear-gradient(100% 100% 90deg, #8FB626, #8FB626);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#8FB626), to(#8FB626));
}

input[type=submit].loading {
	display: none;
}

input[type=file] {
	float: left;
	width: auto;
	color: black;
	font-size: 15px;
}


